.customer {

// display: grid;
// justify-content: center;
// align-items: flex;

  &__new-customer {
    padding: 20px;
    margin-bottom: 20px;
  }

  &customer-list {
    padding: 20px;

    margin-bottom: 20px;
  }
}
